p, h4{
	padding: 1px 5px;
}

.caja-exterior1, .caja-exterior2, .caja-exterior3{
	width: 220px;
	height: 250px;
	border: 2px solid orange;
	display: block;
	margin-top: 10px ;
	margin-bottom: 10px ;
}

.contenido1, .contenido2, .contenido3{
	padding: 3px;
}
